@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-5xl leading-normal;
  }

  h2 {
    @apply text-3xl leading-normal;
  }

  img {
    @apply max-w-sm max-h-96
  }

  html {
    @apply selection:bg-[#3549A6] selection:text-white
  }

  .svelte-lightbox-thumbnai{
    max-width: none;
    width: 100%;
    height: 100%;
  }

}
